# Applied at /data
# Grants group role for authentication to workload group /data/{{ AUTHN_JWT_ID }} 
- !grant
    role: !group vault/{{ SAFE_NAME }}/delegation/consumers
    member: !group {{ AUTHN_JWT_ID }}
